* {
    box-sizing: border-box;
}

.calculator {
    background-color: #333;
    width: 360px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.screen {
    background-color: #333;
    color: rgb(201, 201, 201);
    width: 100%;
    height: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    padding: 0 15px;
    align-items: center;
}

.row {
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.btn:hover {
    background-color: #aba9a9;
}

.btn {
    width: 25%;
    height: 70px;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    cursor: pointer;
    background-color: silver;
    color: #333;
}

.btn:active {
    background-color: silver;
}

.btn:focus {
    outline: none;
}


.btn:last-child:hover {
    background-color: #ae7202;
}

.btn:last-child,
.btn:last-child:active {
    background-color: #da8e00;
    color: #eee;
}

.clear {
    width: 50%;
}

.zero {
    width: 75%
}
